[Desktop Entry]
Type=Application
Name=Smart Attendance
Comment=Launch Attendance System
Exec=python3 /home/school/SmartAttendance/gui_app.py
Path=/home/school/SmartAttendance/
Icon=/usr/share/pixmaps/python.xpm
Terminal=false
Categories=Utility;
